# Ambiente virtual
venv/
.venv/
env/

# Variáveis de ambiente (contém senha do banco)
.env

# Banco SQLite (vai que ne)
*.db
*.sqlite3

# Cache do Python
__pycache__/
*.pyc

# Sistema / IDEs
.DS_Store
.vscode/
.idea/

#santa ajuda de cada dia
.claude
.agents
.skills
.codeium
.cursorrules
.cursorignore
.windsurf
.gleison